/* media */
/* ul steps */
/* devices */
/* ui kit - colors*/
/* ui kit - z-index*/
/* media */
/* ul steps */
/* media */
/* ul steps */
/* devices */
/* ui kit - colors*/
/* ui kit - z-index*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  font-family: Inter, sans-serif;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
a:focus, a:active {
  outline: none;
}
a:visited, a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3 {
  font-family: "Space Grotesk", sans-serif;
  letter-spacing: -1px;
  font-weight: 700;
  font-size: inherit;
}

h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1290px;
  padding: 0 16px;
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .container {
    padding: 0 10px;
  }
}

h1 {
  font-size: clamp(40px, 5vw, 80px);
  line-height: 130%;
  letter-spacing: -1px;
  margin-bottom: clamp(16px, 1.8vw, 28px);
}

h2 {
  font-size: clamp(32px, 3vw, 48px);
  line-height: 125%;
}

.btn-red {
  background: rgb(239, 68, 68);
  color: white;
}

.text {
  font-size: 16px;
  line-height: 1.625;
  opacity: 0.7;
  color: rgb(18, 20, 29);
}

/* media */
/* ul steps */
/* devices */
/* ui kit - colors*/
/* ui kit - z-index*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  font-family: Inter, sans-serif;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
a:focus, a:active {
  outline: none;
}
a:visited, a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3 {
  font-family: "Space Grotesk", sans-serif;
  letter-spacing: -1px;
  font-weight: 700;
  font-size: inherit;
}

h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1290px;
  padding: 0 16px;
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .container {
    padding: 0 10px;
  }
}

h1 {
  font-size: clamp(40px, 5vw, 80px);
  line-height: 130%;
  letter-spacing: -1px;
  margin-bottom: clamp(16px, 1.8vw, 28px);
}

h2 {
  font-size: clamp(32px, 3vw, 48px);
  line-height: 125%;
}

.btn-red {
  background: rgb(239, 68, 68);
  color: white;
}

.text {
  font-size: 16px;
  line-height: 1.625;
  opacity: 0.7;
  color: rgb(18, 20, 29);
}

/* media */
/* ul steps */
/* devices */
/* ui kit - colors*/
/* ui kit - z-index*/
/* media */
/* ul steps */
/* media */
/* ul steps */
/* devices */
/* ui kit - colors*/
/* ui kit - z-index*/
/* media */
/* ul steps */
/* media */
/* ul steps */
/* devices */
/* ui kit - colors*/
/* ui kit - z-index*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  font-family: Inter, sans-serif;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
a:focus, a:active {
  outline: none;
}
a:visited, a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3 {
  font-family: "Space Grotesk", sans-serif;
  letter-spacing: -1px;
  font-weight: 700;
  font-size: inherit;
}

h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1290px;
  padding: 0 16px;
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .container {
    padding: 0 10px;
  }
}

h1 {
  font-size: clamp(40px, 5vw, 80px);
  line-height: 130%;
  letter-spacing: -1px;
  margin-bottom: clamp(16px, 1.8vw, 28px);
}

h2 {
  font-size: clamp(32px, 3vw, 48px);
  line-height: 125%;
}

.btn-red {
  background: rgb(239, 68, 68);
  color: white;
}

.text {
  font-size: 16px;
  line-height: 1.625;
  opacity: 0.7;
  color: rgb(18, 20, 29);
}

/* media */
/* ul steps */
/* devices */
/* ui kit - colors*/
/* ui kit - z-index*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  font-family: Inter, sans-serif;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
a:focus, a:active {
  outline: none;
}
a:visited, a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3 {
  font-family: "Space Grotesk", sans-serif;
  letter-spacing: -1px;
  font-weight: 700;
  font-size: inherit;
}

h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1290px;
  padding: 0 16px;
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .container {
    padding: 0 10px;
  }
}

h1 {
  font-size: clamp(40px, 5vw, 80px);
  line-height: 130%;
  letter-spacing: -1px;
  margin-bottom: clamp(16px, 1.8vw, 28px);
}

h2 {
  font-size: clamp(32px, 3vw, 48px);
  line-height: 125%;
}

.btn-red {
  background: rgb(239, 68, 68);
  color: white;
}

.text {
  font-size: 16px;
  line-height: 1.625;
  opacity: 0.7;
  color: rgb(18, 20, 29);
}

/* media */
/* ul steps */
/* devices */
/* ui kit - colors*/
/* ui kit - z-index*/
/* media */
/* ul steps */
body.lock {
  overflow: hidden;
}

.header__burger {
  cursor: pointer;
  display: block;
  position: relative;
  width: 24px;
  height: 12px;
  z-index: 10;
}
@media (min-width: 900px) {
  .header__burger {
    display: none;
  }
}
.header__burger.active {
  top: 8px;
}
.header__burger.active span {
  transform: scale(0);
}
.header__burger.active:before {
  background-color: white;
  transform: rotate(45deg);
  top: -4px;
}
@media (min-width: 900px) {
  .header__burger.active:before {
    background-color: rgb(18, 20, 29);
  }
}
.header__burger.active:after {
  background-color: white;
  transform: rotate(-45deg);
  bottom: 13px;
}
@media (min-width: 900px) {
  .header__burger.active:after {
    background-color: rgb(18, 20, 29);
  }
}
.header__burger span {
  position: absolute;
  background-color: rgb(18, 20, 29);
  left: 0;
  width: 100%;
  border-radius: 12px;
  height: 0px;
  transition: all 0.3s ease 0s;
}
.header__burger:before {
  top: 0;
}
.header__burger:after {
  bottom: 0;
}
.header__burger:before, .header__burger:after {
  content: "";
  background-color: rgb(18, 20, 29);
  position: absolute;
  border-radius: 12px;
  width: 100%;
  height: 3px;
  left: 0;
  transition: all 0.3s ease 0s;
}

.header__menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  z-index: 9;
  position: fixed;
  top: 0%;
  left: -100%;
  width: 100%;
  height: 100vh;
  background-color: rgba(18, 20, 29, 0.7);
  padding: 5%;
  transition: all 0.3s ease 0s;
  overflow: auto;
}
.header__menu-pc {
  display: none;
}
@media (min-width: 900px) {
  .header__menu-pc {
    display: block;
  }
}
.header__menu.active {
  left: 0%;
}

.header__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}
@media (min-width: 900px) {
  .header__list {
    min-width: 450px;
    flex-direction: row;
    gap: 20px;
  }
}

.header {
  background: white;
  position: fixed;
  width: 100%;
  padding: 15px 0;
  margin: 0 auto;
}
@media (min-width: 600px) {
  .header {
    padding: 30px 0;
  }
}
.header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.header__link {
  font-size: 26px;
  line-height: 2.0769230769;
  font-weight: 500;
  color: white;
}
@media (min-width: 900px) {
  .header__link {
    color: rgb(18, 20, 29);
    font-size: 16px;
    line-height: 1.5;
  }
}

/* media */
/* ul steps */
/* devices */
/* ui kit - colors*/
/* ui kit - z-index*/
/* media */
/* ul steps */
/* devices */
/* ui kit - colors*/
/* ui kit - z-index*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  font-family: Inter, sans-serif;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
a:focus, a:active {
  outline: none;
}
a:visited, a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3 {
  font-family: "Space Grotesk", sans-serif;
  letter-spacing: -1px;
  font-weight: 700;
  font-size: inherit;
}

h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1290px;
  padding: 0 16px;
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .container {
    padding: 0 10px;
  }
}

h1 {
  font-size: clamp(40px, 5vw, 80px);
  line-height: 130%;
  letter-spacing: -1px;
  margin-bottom: clamp(16px, 1.8vw, 28px);
}

h2 {
  font-size: clamp(32px, 3vw, 48px);
  line-height: 125%;
}

.btn-red {
  background: rgb(239, 68, 68);
  color: white;
}

.text {
  font-size: 16px;
  line-height: 1.625;
  opacity: 0.7;
  color: rgb(18, 20, 29);
}

/* media */
/* ul steps */
/* media */
/* ul steps */
/* devices */
/* ui kit - colors*/
/* ui kit - z-index*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  font-family: Inter, sans-serif;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
a:focus, a:active {
  outline: none;
}
a:visited, a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3 {
  font-family: "Space Grotesk", sans-serif;
  letter-spacing: -1px;
  font-weight: 700;
  font-size: inherit;
}

h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1290px;
  padding: 0 16px;
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .container {
    padding: 0 10px;
  }
}

h1 {
  font-size: clamp(40px, 5vw, 80px);
  line-height: 130%;
  letter-spacing: -1px;
  margin-bottom: clamp(16px, 1.8vw, 28px);
}

h2 {
  font-size: clamp(32px, 3vw, 48px);
  line-height: 125%;
}

.btn-red {
  background: rgb(239, 68, 68);
  color: white;
}

.text {
  font-size: 16px;
  line-height: 1.625;
  opacity: 0.7;
  color: rgb(18, 20, 29);
}

/* media */
/* ul steps */
/* devices */
/* ui kit - colors*/
/* ui kit - z-index*/
/* media */
/* ul steps */
.hero {
  padding: 90px 0 30px 0;
}
@media (min-width: 600px) {
  .hero {
    padding: clamp(120px, 10vw, 160px) 0 80px 0;
  }
}
@media (min-width: 900px) {
  .hero {
    background: url("/assets/imgs/hero/hero-bg-line.svg") bottom right no-repeat;
  }
}
.hero__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.hero__items {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  gap: 30px;
}
@media (min-width: 900px) {
  .hero__items {
    align-items: start;
    gap: 50px;
    text-align: left;
    flex-wrap: nowrap;
    flex-direction: row;
  }
}
.hero__left img {
  width: 100%;
  max-width: 600px;
}
@media (min-width: 1200px) {
  .hero__left img {
    min-width: 500px;
  }
}
.hero__right {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 900px) {
  .hero__right {
    display: block;
  }
}
.hero__subtitile {
  color: rgb(244, 63, 94);
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: clamp(20px, 1.6vw, 33px);
}
.hero__item-text {
  color: rgb(18, 20, 29);
  opacity: 0.7;
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: clamp(30px, 3vw, 45px);
}
.hero__button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 16px 20px;
  gap: 10px;
  border-radius: 3px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 600;
}
.hero__button span {
  width: 18px;
  height: 18px;
}

/* media */
/* ul steps */
/* devices */
/* ui kit - colors*/
/* ui kit - z-index*/
/* media */
/* ul steps */
/* media */
/* ul steps */
/* devices */
/* ui kit - colors*/
/* ui kit - z-index*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  font-family: Inter, sans-serif;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
a:focus, a:active {
  outline: none;
}
a:visited, a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3 {
  font-family: "Space Grotesk", sans-serif;
  letter-spacing: -1px;
  font-weight: 700;
  font-size: inherit;
}

h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1290px;
  padding: 0 16px;
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .container {
    padding: 0 10px;
  }
}

h1 {
  font-size: clamp(40px, 5vw, 80px);
  line-height: 130%;
  letter-spacing: -1px;
  margin-bottom: clamp(16px, 1.8vw, 28px);
}

h2 {
  font-size: clamp(32px, 3vw, 48px);
  line-height: 125%;
}

.btn-red {
  background: rgb(239, 68, 68);
  color: white;
}

.text {
  font-size: 16px;
  line-height: 1.625;
  opacity: 0.7;
  color: rgb(18, 20, 29);
}

/* media */
/* ul steps */
/* devices */
/* ui kit - colors*/
/* ui kit - z-index*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  font-family: Inter, sans-serif;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
a:focus, a:active {
  outline: none;
}
a:visited, a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3 {
  font-family: "Space Grotesk", sans-serif;
  letter-spacing: -1px;
  font-weight: 700;
  font-size: inherit;
}

h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1290px;
  padding: 0 16px;
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .container {
    padding: 0 10px;
  }
}

h1 {
  font-size: clamp(40px, 5vw, 80px);
  line-height: 130%;
  letter-spacing: -1px;
  margin-bottom: clamp(16px, 1.8vw, 28px);
}

h2 {
  font-size: clamp(32px, 3vw, 48px);
  line-height: 125%;
}

.btn-red {
  background: rgb(239, 68, 68);
  color: white;
}

.text {
  font-size: 16px;
  line-height: 1.625;
  opacity: 0.7;
  color: rgb(18, 20, 29);
}

/* media */
/* ul steps */
/* devices */
/* ui kit - colors*/
/* ui kit - z-index*/
/* media */
/* ul steps */
.preferences {
  padding: 30px 0 40px 0;
}
@media (min-width: 600px) {
  .preferences {
    padding: 50px 0 70px 0;
  }
}
.preferences__items {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}
@media (min-width: 900px) {
  .preferences__items {
    text-align: left;
    flex-wrap: nowrap;
    align-items: start;
    flex-direction: row;
    gap: 20px;
  }
}
.preferences__item {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
  width: 100%;
  border-bottom: 1px solid #e4e4e7;
}
@media (min-width: 900px) {
  .preferences__item {
    display: block;
  }
}
.preferences__item-firt {
  padding: 0 0 30px 0;
}
.preferences__item-last {
  padding: 30px 0 0;
  border-bottom: none;
}
@media (min-width: 900px) {
  .preferences__item {
    padding: 0 54px;
    border-bottom: none;
    border-right: 1px solid #e4e4e7;
  }
  .preferences__item-firt {
    padding: 0 54px 0 0;
  }
  .preferences__item-last {
    padding: 0 0 0 54px;
    border-right: none;
  }
}
.preferences__item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3333333333;
  max-width: 372px;
  width: 100%;
  margin-top: clamp(20px, 2vw, 30px);
  margin-bottom: clamp(15px, 1.5vw, 20px);
}
.preferences__item-text {
  max-width: 372px;
  width: 100%;
}

/* media */
/* ul steps */
/* devices */
/* ui kit - colors*/
/* ui kit - z-index*/
/* media */
/* ul steps */
/* media */
/* ul steps */
/* devices */
/* ui kit - colors*/
/* ui kit - z-index*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  font-family: Inter, sans-serif;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
a:focus, a:active {
  outline: none;
}
a:visited, a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3 {
  font-family: "Space Grotesk", sans-serif;
  letter-spacing: -1px;
  font-weight: 700;
  font-size: inherit;
}

h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1290px;
  padding: 0 16px;
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .container {
    padding: 0 10px;
  }
}

h1 {
  font-size: clamp(40px, 5vw, 80px);
  line-height: 130%;
  letter-spacing: -1px;
  margin-bottom: clamp(16px, 1.8vw, 28px);
}

h2 {
  font-size: clamp(32px, 3vw, 48px);
  line-height: 125%;
}

.btn-red {
  background: rgb(239, 68, 68);
  color: white;
}

.text {
  font-size: 16px;
  line-height: 1.625;
  opacity: 0.7;
  color: rgb(18, 20, 29);
}

/* media */
/* ul steps */
/* devices */
/* ui kit - colors*/
/* ui kit - z-index*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  font-family: Inter, sans-serif;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
a:focus, a:active {
  outline: none;
}
a:visited, a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3 {
  font-family: "Space Grotesk", sans-serif;
  letter-spacing: -1px;
  font-weight: 700;
  font-size: inherit;
}

h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1290px;
  padding: 0 16px;
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .container {
    padding: 0 10px;
  }
}

h1 {
  font-size: clamp(40px, 5vw, 80px);
  line-height: 130%;
  letter-spacing: -1px;
  margin-bottom: clamp(16px, 1.8vw, 28px);
}

h2 {
  font-size: clamp(32px, 3vw, 48px);
  line-height: 125%;
}

.btn-red {
  background: rgb(239, 68, 68);
  color: white;
}

.text {
  font-size: 16px;
  line-height: 1.625;
  opacity: 0.7;
  color: rgb(18, 20, 29);
}

/* media */
/* ul steps */
/* devices */
/* ui kit - colors*/
/* ui kit - z-index*/
/* media */
/* ul steps */
.proofs__items {
  gap: 10px;
  display: flex;
  flex-direction: column;
  margin: 0 0 40px 0;
}
@media (min-width: 900px) {
  .proofs__items {
    margin: 0 0 120px 0;
  }
}
.proofs__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  text-align: center;
  gap: 15px;
}
.proofs__item-first {
  flex-direction: column-reverse;
}
@media (min-width: 900px) {
  .proofs__item {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }
}
@media (min-width: 900px) {
  .proofs__item_text {
    max-width: 380px;
  }
}
.proofs__item-title {
  margin-bottom: clamp(16px, 4vw, 30px);
}
@media (min-width: 900px) {
  .proofs__item-title {
    max-width: 440px;
  }
}
/* media */
/* ul steps */
/* devices */
/* ui kit - colors*/
/* ui kit - z-index*/
/* media */
/* ul steps */
/* media */
/* ul steps */
/* devices */
/* ui kit - colors*/
/* ui kit - z-index*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  font-family: Inter, sans-serif;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
a:focus, a:active {
  outline: none;
}
a:visited, a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3 {
  font-family: "Space Grotesk", sans-serif;
  letter-spacing: -1px;
  font-weight: 700;
  font-size: inherit;
}

h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1290px;
  padding: 0 16px;
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .container {
    padding: 0 10px;
  }
}

h1 {
  font-size: clamp(40px, 5vw, 80px);
  line-height: 130%;
  letter-spacing: -1px;
  margin-bottom: clamp(16px, 1.8vw, 28px);
}

h2 {
  font-size: clamp(32px, 3vw, 48px);
  line-height: 125%;
}

.btn-red {
  background: rgb(239, 68, 68);
  color: white;
}

.text {
  font-size: 16px;
  line-height: 1.625;
  opacity: 0.7;
  color: rgb(18, 20, 29);
}

/* media */
/* ul steps */
/* devices */
/* ui kit - colors*/
/* ui kit - z-index*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  font-family: Inter, sans-serif;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
a:focus, a:active {
  outline: none;
}
a:visited, a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3 {
  font-family: "Space Grotesk", sans-serif;
  letter-spacing: -1px;
  font-weight: 700;
  font-size: inherit;
}

h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1290px;
  padding: 0 16px;
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .container {
    padding: 0 10px;
  }
}

h1 {
  font-size: clamp(40px, 5vw, 80px);
  line-height: 130%;
  letter-spacing: -1px;
  margin-bottom: clamp(16px, 1.8vw, 28px);
}

h2 {
  font-size: clamp(32px, 3vw, 48px);
  line-height: 125%;
}

.btn-red {
  background: rgb(239, 68, 68);
  color: white;
}

.text {
  font-size: 16px;
  line-height: 1.625;
  opacity: 0.7;
  color: rgb(18, 20, 29);
}

/* media */
/* ul steps */
/* devices */
/* ui kit - colors*/
/* ui kit - z-index*/
/* media */
/* ul steps */
.reviews {
  background: rgb(24, 24, 27);
  background-image: url("/assets/imgs/reviews/divider-reviews-bg.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
  padding: 40px 0;
}
@media (min-width: 900px) {
  .reviews {
    padding: 80px 0;
  }
}
.reviews__title {
  margin: 0 auto;
  text-align: center;
  color: white;
  max-width: 554px;
  margin-bottom: clamp(40px, 4vw, 60px);
}
.reviews__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 40px;
  margin-bottom: 50px;
}
@media (min-width: 900px) {
  .reviews__items {
    gap: 20px;
    margin-bottom: 20px;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 60px;
    align-items: start;
  }
}
.reviews__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  text-align: center;
  gap: clamp(20px, 2vw, 30px) 0;
  max-width: 445px;
  color: white;
}
.reviews__item-stars {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 6px;
}
.reviews__item-text {
  font-size: 18px;
  line-height: 1.7777777778;
}
/* media */
/* ul steps */
/* devices */
/* ui kit - colors*/
/* ui kit - z-index*/
/* media */
/* ul steps */
/* media */
/* ul steps */
/* devices */
/* ui kit - colors*/
/* ui kit - z-index*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  font-family: Inter, sans-serif;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
a:focus, a:active {
  outline: none;
}
a:visited, a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3 {
  font-family: "Space Grotesk", sans-serif;
  letter-spacing: -1px;
  font-weight: 700;
  font-size: inherit;
}

h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1290px;
  padding: 0 16px;
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .container {
    padding: 0 10px;
  }
}

h1 {
  font-size: clamp(40px, 5vw, 80px);
  line-height: 130%;
  letter-spacing: -1px;
  margin-bottom: clamp(16px, 1.8vw, 28px);
}

h2 {
  font-size: clamp(32px, 3vw, 48px);
  line-height: 125%;
}

.btn-red {
  background: rgb(239, 68, 68);
  color: white;
}

.text {
  font-size: 16px;
  line-height: 1.625;
  opacity: 0.7;
  color: rgb(18, 20, 29);
}

/* media */
/* ul steps */
/* devices */
/* ui kit - colors*/
/* ui kit - z-index*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  font-family: Inter, sans-serif;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
a:focus, a:active {
  outline: none;
}
a:visited, a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3 {
  font-family: "Space Grotesk", sans-serif;
  letter-spacing: -1px;
  font-weight: 700;
  font-size: inherit;
}

h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1290px;
  padding: 0 16px;
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .container {
    padding: 0 10px;
  }
}

h1 {
  font-size: clamp(40px, 5vw, 80px);
  line-height: 130%;
  letter-spacing: -1px;
  margin-bottom: clamp(16px, 1.8vw, 28px);
}

h2 {
  font-size: clamp(32px, 3vw, 48px);
  line-height: 125%;
}

.btn-red {
  background: rgb(239, 68, 68);
  color: white;
}

.text {
  font-size: 16px;
  line-height: 1.625;
  opacity: 0.7;
  color: rgb(18, 20, 29);
}

/* media */
/* ul steps */
/* devices */
/* ui kit - colors*/
/* ui kit - z-index*/
/* media */
/* ul steps */
.plans {
  padding: 20px 0 40px 0;
}
@media (min-width: 900px) {
  .plans {
    padding: 70px 0 70px 0;
  }
}
.plans__wrapper {
  text-align: center;
  margin: 0 auto;
}
.plans__title {
  max-width: 453px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}
.plans__suptitle {
  font-size: 18px;
  line-height: 1.8888888889;
  color: rgb(18, 20, 29);
  opacity: 0.7;
}
.plans__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: clamp(30px, 4vw, 60px);
  gap: 24px;
}
@media (min-width: 900px) {
  .plans__items {
    gap: 40px;
    flex-direction: row;
  }
}
.plans__item {
  text-align: center;
  min-width: 250px;
  max-width: 320px;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid #e4e4e7;
  padding-top: 30px;
}
.plans__item-subtitle {
  color: #71717a;
  font-size: 18px;
  line-height: 1.6666666667;
  font-weight: 500;
  margin-bottom: 12px;
}
.plans__item-price {
  margin-bottom: 34px;
  font-size: 58px;
  line-height: 1.2413793103;
  font-weight: 700;
  color: rgb(18, 20, 29);
}
.plans__item-title {
  font-weight: 600;
  color: rgb(24, 24, 27);
  font-size: 18px;
  line-height: 1.7777777778;
}
.plans__item-text {
  font-size: 18px;
  line-height: 1.8888888889;
  color: #52525b;
  max-width: 147px;
  margin: 0 auto;
}
.plans__item-link {
  margin-top: 30px;
  padding: 16px;
  background: rgb(32, 31, 34);
  color: white;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  transition: all 0.35s linear;
}
.plans__item-link:hover, .plans__item-link:active {
  background: rgb(239, 68, 68);
}

/* media */
/* ul steps */
/* devices */
/* ui kit - colors*/
/* ui kit - z-index*/
/* media */
/* ul steps */
/* media */
/* ul steps */
/* devices */
/* ui kit - colors*/
/* ui kit - z-index*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  font-family: Inter, sans-serif;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
a:focus, a:active {
  outline: none;
}
a:visited, a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3 {
  font-family: "Space Grotesk", sans-serif;
  letter-spacing: -1px;
  font-weight: 700;
  font-size: inherit;
}

h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1290px;
  padding: 0 16px;
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .container {
    padding: 0 10px;
  }
}

h1 {
  font-size: clamp(40px, 5vw, 80px);
  line-height: 130%;
  letter-spacing: -1px;
  margin-bottom: clamp(16px, 1.8vw, 28px);
}

h2 {
  font-size: clamp(32px, 3vw, 48px);
  line-height: 125%;
}

.btn-red {
  background: rgb(239, 68, 68);
  color: white;
}

.text {
  font-size: 16px;
  line-height: 1.625;
  opacity: 0.7;
  color: rgb(18, 20, 29);
}

/* media */
/* ul steps */
/* devices */
/* ui kit - colors*/
/* ui kit - z-index*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  font-family: Inter, sans-serif;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
a:focus, a:active {
  outline: none;
}
a:visited, a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3 {
  font-family: "Space Grotesk", sans-serif;
  letter-spacing: -1px;
  font-weight: 700;
  font-size: inherit;
}

h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1290px;
  padding: 0 16px;
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .container {
    padding: 0 10px;
  }
}

h1 {
  font-size: clamp(40px, 5vw, 80px);
  line-height: 130%;
  letter-spacing: -1px;
  margin-bottom: clamp(16px, 1.8vw, 28px);
}

h2 {
  font-size: clamp(32px, 3vw, 48px);
  line-height: 125%;
}

.btn-red {
  background: rgb(239, 68, 68);
  color: white;
}

.text {
  font-size: 16px;
  line-height: 1.625;
  opacity: 0.7;
  color: rgb(18, 20, 29);
}

/* media */
/* ul steps */
/* devices */
/* ui kit - colors*/
/* ui kit - z-index*/
/* media */
/* ul steps */
.started {
  background-color: #fafafa;
  padding: 40px 0;
}
@media (min-width: 900px) {
  .started {
    padding: 115px 0;
  }
}
.started__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  gap: 15px;
}
@media (min-width: 900px) {
  .started__wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }
}
.started__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 900px) {
  .started__item {
    justify-content: start;
    align-items: start;
  }
}
.started__left-title {
  margin-bottom: 17px;
  font-size: 28px;
  line-height: 1.2142857143;
  font-weight: 700;
}
.started__left-text {
  margin-bottom: 31px;
}
@media (min-width: 900px) {
  .started__left-text {
    max-width: 388px;
  }
}
.started__left-link {
  border-radius: 3px;
  padding: 16px;
  font-size: 16px;
  line-height: 1.75;
  color: white;
  font-weight: 700;
}
.started__items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}
@media (min-width: 900px) {
  .started__items {
    gap: 26px;
    flex-direction: row;
    justify-content: start;
    align-items: start;
  }
}
.started__item-img {
  margin-bottom: 28px;
}
.started__item-title {
  font-size: 18px;
  line-height: 1.3333333333;
  color: rgb(18, 20, 29);
  margin-bottom: 14px;
}
.right-item {
  padding: 30px;
  max-width: 336px;
  border-radius: 5px;
  border: 1px solid #e4e4e7;
  background: white;
}

/* media */
/* ul steps */
/* devices */
/* ui kit - colors*/
/* ui kit - z-index*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  font-family: Inter, sans-serif;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
a:focus, a:active {
  outline: none;
}
a:visited, a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3 {
  font-family: "Space Grotesk", sans-serif;
  letter-spacing: -1px;
  font-weight: 700;
  font-size: inherit;
}

h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1290px;
  padding: 0 16px;
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .container {
    padding: 0 10px;
  }
}

h1 {
  font-size: clamp(40px, 5vw, 80px);
  line-height: 130%;
  letter-spacing: -1px;
  margin-bottom: clamp(16px, 1.8vw, 28px);
}

h2 {
  font-size: clamp(32px, 3vw, 48px);
  line-height: 125%;
}

.btn-red {
  background: rgb(239, 68, 68);
  color: white;
}

.text {
  font-size: 16px;
  line-height: 1.625;
  opacity: 0.7;
  color: rgb(18, 20, 29);
}

/* media */
/* ul steps */
/* devices */
/* ui kit - colors*/
/* ui kit - z-index*/
/* media */
/* ul steps */
/* media */
/* ul steps */
/* devices */
/* ui kit - colors*/
/* ui kit - z-index*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  font-family: Inter, sans-serif;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
a:focus, a:active {
  outline: none;
}
a:visited, a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3 {
  font-family: "Space Grotesk", sans-serif;
  letter-spacing: -1px;
  font-weight: 700;
  font-size: inherit;
}

h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1290px;
  padding: 0 16px;
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .container {
    padding: 0 10px;
  }
}

h1 {
  font-size: clamp(40px, 5vw, 80px);
  line-height: 130%;
  letter-spacing: -1px;
  margin-bottom: clamp(16px, 1.8vw, 28px);
}

h2 {
  font-size: clamp(32px, 3vw, 48px);
  line-height: 125%;
}

.btn-red {
  background: rgb(239, 68, 68);
  color: white;
}

.text {
  font-size: 16px;
  line-height: 1.625;
  opacity: 0.7;
  color: rgb(18, 20, 29);
}

/* media */
/* ul steps */
/* devices */
/* ui kit - colors*/
/* ui kit - z-index*/
/* media */
/* ul steps */
.footer {
  background: rgb(24, 24, 27);
  color: white;
}
.footer__top {
  padding: 40px 0;
  border-bottom: 1px solid #27272a;
}
@media (min-width: 900px) {
  .footer__top {
    padding: 70px 0;
  }
}
.footer__items {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
@media (min-width: 900px) {
  .footer__items {
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
  }
}
.footer__nav-title {
  font-weight: 700;
  color: rgb(244, 63, 94);
  font-size: 16px;
  line-height: 1.625;
  margin-bottom: clamp(15px, 3vw, 34px);
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer__link {
  transition: all 0.3s ease-in-out;
}
.footer__link:hover {
  color: rgb(189, 193, 197);
}
.footer__bottom {
  padding: 38px 0;
}
.footer__copyright {
  font-size: 13px;
  line-height: 1.5384615385;
}
.footer__socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}
.footer__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 28px;
  border: 1px solid rgba(18, 20, 29, 0.7);
  height: 28px;
  width: 28px;
  transition: all 0.3 ease-in-out;
}
.footer__social-link:hover, .footer__social-link:active {
  background: #2563eb;
}